[Unit]
Description=LinuxGSM Arma3 Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=arma
WorkingDirectory=/home/arma
ExecStart=/home/arma/arma3server start
ExecStop=/home/arma/arma3server stop
Restart=no
RemainAfterExit=yes   #Assume that the service is running after main process exits with code 0

[Install]
WantedBy=multi-user.target