[Unit]
Description=Missions Webhook
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=arma
WorkingDirectory=/home/arma
ExecStart=/usr/bin/webhook -hooks /etc/webhook/webhooks.json
Restart=always

[Install]
WantedBy=multi-user.target