##################################
######## Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance

mods="{% if mods %}{% for mod in mods %}mods/{{ mod }}\;{% endfor %}{% endif %}"
port=2326
fn_parms() {
    parms="-client -connect=127.0.0.1:2302 -password=pushforward -mods=${mods}"
}