##################################
######## Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance

mods="{% if mods %}{% for mod in mods %}mods/{{ mod }}\;{% endfor %}{% endif %}"
